.container{
    width: 100vw;
    background-color: #333;
    display: flex;
    justify-content: center;
    
    }

img{
    height: 150px;
}

.elements{
    display: flex;
    justify-content: space-between;

}

.boxElement{    
    display: flex;
    justify-content: space-between;
    gap: 7px;
    color: white;
    padding: 3px 5px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
     
}
.elements img{
    height: 20px;
}
.card{
    width: 200px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    background-color: #6d954b; 
    border-radius: 10px; 
    margin: 20px;
}

.infos{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.name{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.index{
    color:#fff;
}