*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}
body{  
  display: flex;
  justify-content: center;
  background-color: #222;
}
.list{
  color: aliceblue;
  font-size: 40px;
}